Source: uhd
Section: science
Priority: optional
Maintainer: A. Maitland Bottoms <bottoms@debian.org>
Uploaders: Bdale Garbee <bdale@gag.com>
Build-Depends: debhelper (>= 8.0.0~), cmake, autoconf, autotools-dev, pkg-config, python-dev, python-cheetah, python-docutils, doxygen, libboost-all-dev, libusb-1.0-0-dev, liborc-0.4-dev, liboil0.3-dev, libncurses5-dev
Standards-Version: 3.9.1
Homepage: http://code.ettus.com/redmine/ettus/projects/uhd/wiki
Vcs-Browser: http://gnuradio.org/cgit/gnuradio.git/log/
Vcs-Git: git://code.ettus.com/ettus/uhd.git

Package: uhd-host
Architecture: any
Depends: libuhd003, python, adduser, ${shlibs:Depends}, ${misc:Depends}
Recommends: gnuradio, uhd-images, python-tk
Description: universal hardware driver for Ettus Research products
 Host utilities for the Universal Hardware Driver for Ettus Research products.
 .
 This package includes the uhd_find_devices application to locate and
 configure attached peripherals, and the uhd_usrp_probe application to
 display hardware configuration information.

Package: libuhd003
Architecture: any
Section: libs
Depends: python, adduser, ${shlibs:Depends}, ${misc:Depends}
Recommends: gnuradio, uhd-images
Description: universal hardware driver for Ettus Research products
 Host library for the Universal Hardware Driver for Ettus Research products.

Package: libuhd-dev
Architecture: any
Section: libdevel
Depends: libuhd003 (= ${binary:Version}), python, adduser, ${shlibs:Depends}, ${misc:Depends}
Recommends: gnuradio
Description: universal hardware driver for Ettus Research products
 Host library for the Universal Hardware Driver for Ettus Research products.
 .
 This package contains the header files and documentation for
 developing with libuhd.

Package: uhd-contrib-images
Architecture: all
Section: contrib/libs
Provides: uhd-images
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: firmware for Ettus Research products
 These are images to configure hardware for use with
 the Universal Hardware Driver host driver and API.
