Source: uhd-images
Section: contrib/libs
Priority: optional
Maintainer: A. Maitland Bottoms <bottoms@debian.org>
Uploaders: Bdale Garbee <bdale@gag.com>
Build-Depends: debhelper (>= 8.9.0~), sdcc
Standards-Version: 3.9.2
Homepage: http://code.ettus.com/redmine/ettus/projects/uhd/wiki
Vcs-Browser: http://gnuradio.org/cgit/gnuradio.git/log/
Vcs-Git: git://code.ettus.com/ettus/uhd.git

Package: uhd-images
Architecture: all
Section: contrib/libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: foreign
Description: firmware for Ettus Research products
 These are images to configure hardware for use with
 the Universal Hardware Driver host driver and API.
