#!/usr/bin/make -f
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export DEB_HOST_MULTIARCH

%:
	dh $@ --sourcedirectory=images --builddirectory=build

override_dh_auto_install:
	dh_auto_install
	cp -a contrib-images/share debian/uhd-images/usr/

override_dh_auto_clean:
	rm -f images/images/*tag
	dh_auto_clean --sourcedirectory=images --builddirectory=build
